@import url('https://fonts.googleapis.com/css?family=Raleway');

body, html {
  height: 100%;
  margin: 0;
}

.footer {
  color: white;
  background-color: gray;
}

.parallax {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax, .footer {
  text-align: center;
  padding: 10px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}

.parallax h1 {
  margin: 0;
}

.linkList {
  padding: 0;
}

.linkList li {
  display: inline-block;
  padding: 20px;
  border: solid 5px white;
  text-color: white;
  font-size: 2vw;
  margin: 15px;
  margin-top: 50px;
  cursor: pointer;
}

.nav:hover {
  background-color: black;
}

.nav:active {
  background-color: gray;
}

ul {
    list-style-position: inside;
}

.title {
  font-size: 5em;
}

a:link, a:visited, a:hover {
  text-decoration: underline;
}

a:link {
  color: white;
}

a:visited {
  color: red;
}

a:hover {
  color: gray;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}
