---
layout: default
title: index
---
{% assign pages_list = site.pages | sort:"order" %}
{% for pg in pages_list %}
  {% if pg.layout == "parallax" %}
<div class="parallax" id="{{ pg.title | downcase | slugify}}-block">
  <div class="container">
    <p class="title">{{ pg.title}}</p>
    {{ pg.content | markdownify }}
  </div>
</div>
  {% endif %}
{% endfor %}
