<title>Climate Change</title>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link href="/favicon.ico" rel="icon" type="image/x-icon">
<style>
{% for pg in site.pages %}
{% if pg.layout == "parallax" %}
#{{pg.title | downcase | slugify}}-block {
  background-image: url('/img/{{pg.bg}}');
  color: {{pg.font-color}};
}
{% endif %}
{% endfor %}
</style>

<!-- Google jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>


<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
